<div class="container">
    <h1>Nav</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi voluptate illum, similique pariatur sunt nostrum excepturi, cum voluptates quidem inventore cupiditate delectus at debitis ab iure deleniti! Commodi, minus quae?</p>

<h1>Footer</h1>
</div>