
<nav class="navbar nvabar-dark bg-dark mb-4">
    <div class="container">
        <a href="/" class="navbar-brand">ChallengeChat</a>
            <div class="hstack col-md-1 offset-md-6 gx-5">
                <div class="vstack gap-2 col-md-5 mx-auto">
                    <div class="row">
                        <div class="col-6 col-sm-3 me-auto">
                           <a class="btn btn-outline-secondary" href="/" role="button">SingUp</a>
                        </div>
                         <div class="col-6 col-sm-3">
                              <a class="btn btn-outline-secondary" href="#" role="button">Login</a>
                         </div>   
                    </div>
            </div>
        </div>
    </div>
</nav>